<div class="form-group">
     <div id="panel" class="panel panel-defaults">
        <div class="panel-heading">
            <label class="control-label col-sm-1" for="description">Description</label><br>
        </div>
        <div class="panel-body">
            <div class="navbar navbar-default navbar-form form-group">
                <span class="glyphicon glyphicon-text-height"></span>
                <select ng-model="item.styles['font-size']" class="form-control">
                    <option ng-repeat="size in sizes" ng-selected="$first">{{size}}</option>
                </select>
                <span class="glyphicon glyphicon-font"></span>
                <select ng-model="item.styles['font-family']" name="changeFont" class="form-control">
                    <option ng-repeat="font in fonts" ng-selected="$first">{{font}}</option>
                </select>
                <span class="glyphicon glyphicon-tint"></span>
                <label for="colorInput" class="sr-only"></label>
                <input id="colorInput" ng-model="item.styles['color']" class="form-control" type="color"/>
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="setFontStyleBold()"><span class="glyphicon glyphicon-bold"></span></button>
                    <button class="btn btn-default" ng-click="setFontStyleItalic()"><span class="glyphicon glyphicon-italic"></span></button>
                    <button class="btn btn-default" ng-click="setFontStyleUndeline()"><span class="glyphicon glyphicon-minus"></span></button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="setFontStyleAlign('left')"><span class="glyphicon glyphicon-align-left"></span></button>
                    <button class="btn btn-default" ng-click="setFontStyleAlign('center')"><span class="glyphicon glyphicon-align-center"></span></button>
                    <button class="btn btn-default" ng-click="setFontStyleAlign('right')"><span class="glyphicon glyphicon-align-right"></span></button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default"><span class="glyphicon glyphicon-picture"></span></button>
                    <button class="btn btn-default"><span class="glyphicon glyphicon-list"></span></button>
                    <button class="btn btn-default"><span class="glyphicon glyphicon-link"></span></button>
                </div>
            </div>
        </div>
        <textarea ng-model="item.description" id="description" class="form-control" ng-style="item.styles">{{font}}</textarea>
    </div>
</div>
